<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="/lib/lib-flexible-master/build/flexible.js"></script>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
<div class="content">
    <div class="container">
        <div class="main-content">
            <div class="title-box">
            </div>
            <div class="appearance-text">

            </div>
            <div class="login-box">
                <form action="/hall.html" method="get">
                    <div class="input-wrapper username">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-wrapper password">
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="input-wrapper submit">
                        <input type="submit" value="Get Started">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>