/* line 5, ../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}

/* line 12, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 22, ../sass/_reset.scss */
input[type=text], input[type=password] {
  font-size: 22px;
  font-weight: 500;
  color: white;
  padding-left: 1.76rem;
  height: 1.49333rem;
  line-height: 1.49333rem;
  -moz-border-radius: 0.66667rem;
  -webkit-border-radius: 0.66667rem;
  border-radius: 0.66667rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
}

/* line 34, ../sass/_reset.scss */
input[type=submit] {
  height: 1.49333rem;
  line-height: 1.49333rem;
  -moz-border-radius: 0.66667rem;
  -webkit-border-radius: 0.66667rem;
  border-radius: 0.66667rem;
  border: none;
  background: #528c75;
  color: white;
  font-size: 24px;
  width: 100%;
}

/* line 42, ../sass/_reset.scss */
.input-wrapper {
  position: relative;
}

/* line 29, ../sass/_mixin.scss */
*[placeholder] {
  color: white;
}

/* line 33, ../sass/_mixin.scss */
*::-webkit-input-placeholder {
  color: white;
}

/* line 37, ../sass/_mixin.scss */
*:-moz-placeholder {
  color: white;
}

/* line 41, ../sass/_mixin.scss */
*:-ms-input-placeholder {
  color: white;
}

/* line 45, ../sass/_mixin.scss */
*::-moz-placeholder {
  color: white;
}

/* line 5, ../sass/_common.scss */
header.header {
  height: 2.29333rem;
  background: url("/images/header_background_01.png") no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* line 10, ../sass/_common.scss */
header.header .return {
  height: 2.29333rem;
  width: 3.33333rem;
}

/* line 16, ../sass/_common.scss */
.controller-bar {
  height: 1.70667rem;
  line-height: 1.70667rem;
  background: #5f91a9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .1px;
}
/* line 20, ../sass/_common.scss */
.controller-bar .controller {
  color: white;
  font-size: 19px;
  font-weight: 500;
  padding: 0.26667rem 0.50667rem;
  margin: 0 0.4rem;
}
/* line 26, ../sass/_common.scss */
.controller-bar .controller.active {
  color: black;
  -moz-border-radius: 1.06667rem;
  -webkit-border-radius: 1.06667rem;
  border-radius: 1.06667rem;
  border: 1px solid #8fb2c3;
}

/* line 34, ../sass/_common.scss */
.tip-bar {
  background: #a3cbde;
  height: 0.82667rem;
  line-height: 0.82667rem;
  padding-left: 0.4rem;
}

/* line 10, ../sass/_mixin.scss */
.top-list:after {
  content: '';
  clear: both;
  display: block;
}
/* line 42, ../sass/_common.scss */
.top-list .item {
  float: left;
  width: 4.93333rem;
  height: 5.33333rem;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
}

/* line 7, ../sass/hall.scss */
.focus-list {
  display: none;
  width: 100%;
}
/* line 10, ../sass/hall.scss */
.focus-list .item {
  display: block;
  border: 1px solid darkgrey;
  height: 3.73333rem;
  position: relative;
  margin-bottom: 0.26667rem;
}
/* line 17, ../sass/hall.scss */
.focus-list .item img {
  width: 2.66667rem;
  height: 2.66667rem;
  position: absolute;
  top: 0.53333rem;
  left: 0.4rem;
}
/* line 25, ../sass/hall.scss */
.focus-list .item .details {
  position: absolute;
  top: 0.53333rem;
  left: 3.46667rem;
  width: 5.33333rem;
}
/* line 31, ../sass/hall.scss */
.focus-list .item .details .title {
  font-size: 15px;
  font-weight: 600;
}
/* line 36, ../sass/hall.scss */
.focus-list .item .details .text {
  margin-top: 0.4rem;
}
/* line 40, ../sass/hall.scss */
.focus-list .item .details .heart {
  width: 0.56rem;
  height: 0.56rem;
  position: absolute;
  top: 2.4rem;
  right: -0.25333rem;
  background: url("/images/heart.png") center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 50, ../sass/hall.scss */
.focus-list .item .details .heart.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 53, ../sass/hall.scss */
.focus-list .item .details .heart.rise {
  top: 1.33333rem;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
